In [12]:
import pandas as pd

1. Import

In [13]:
df = pd.read_csv('data/bronze.csv')

2. Exploration

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  object
 5   Price        1067371 non-null  float64
 6   Customer ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 65.1+ MB

In [15]:
df.isna().sum()

Invoice             0
StockCode           0
Description      4382
Quantity            0
InvoiceDate         0
Price               0
Customer ID    243007
Country             0
dtype: int64

    ^ Un cinquième du dataset represente des lignes non reliées à un client. Il peut être judicieux de les conserver pour l'analyse mais on les supprimera donc avant le clustering  
    Quant au 4300 lignes sans description, on peut les conserver car la description de l'objet ne fera pas parti des features

In [16]:
df.head(1)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom

## 3. Cleaning

    Il sera nécessaire de faire deux nettoyages.   
    - Un avant l'analyse
    - Un autre en prévision du clustering

### Analyse

3.1 Gestions des doublons

In [17]:
df[df.duplicated()].shape[0] # Affiche le nombre de doublons (=34335)
#Suppression des doublons
df = df.drop_duplicates()

3.2 Conversion en datetime

In [18]:
# L'InvoiceDate' passe de type objet à type datetime
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

3.3 Customer ID

In [19]:
# On attribut un ID par défaut
df['Customer ID'] = df['Customer ID'].fillna(0)

###  4. Export

In [20]:
#Dataset nettoyé pour l'analyse
df.to_csv('data/bronze_cleaned.csv', index=False)